.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(min-content, 1fr) [center-start]
    repeat(10, [col-start] minmax(min-content, 12.5rem) [col-end])
    [center-end] minmax(min-content, 1fr) [full-end];

  grid-template-rows: minmax(7rem, 8vh) 92vh;

  @include respond(phone) {
    grid-template-rows: auto;
  }
}
