$color-primary: #2196f3;
$color-primary-dark: #0c5c9e;

$color-grey-light-1: #ebebeb;
$color-grey-light-2: #d5d5d5;

$color-grey-dark-1: #666666;
$color-grey-dark-2: #191919;

$section-padding: 10rem;

$shadow-light: 0 3rem 5rem rgba(black, 0.1);
$shadow-dark: 0 2rem 6rem rgba(black, 0.3);
