.testi-card {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: $shadow-light;

  display: flex;
  flex-direction: column;
  justify-content: start;

  &__img {
    width: 10rem;
    height: 10rem;
    border: 3px solid $color-primary;
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    right: -1rem;
  }

  &__name {
    margin-bottom: 0.3rem;
  }

  &__job {
    margin-bottom: 1.5rem;
    max-width: 75%;
  }

  &__stars {
    display: flex;
    margin-bottom: 1.5rem;
    // margin-top: auto;
  }

  &__icon {
    width: 2rem;
    height: 2rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &--gold {
      fill: #ffc107;
    }
  }

  &__text {
    margin-top: auto;
    font-size: 1.6rem;
  }
}
